// Mixins in here
.a-mixin(@txdecor, @fntweight) {
    text-decoration: @txdecor;
    font-weight: @fntweight;
}

// Button Mixin

.btn-mixin(@button-bg) {
    color: @button-bg;
    width: 30%;
    padding: 5px 15px;
}